/*GENERAL*/
* { margin: 0; padding: 0; }
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/*FORMATTING*/
body { background: #e9e6cf; font: 12px/19px Tahoma, Arial, Helvetica, sans-serif; color: #434343; padding: 10px 0; }
p { padding: 0 0 15px; }
a { color: #0e96dd; outline: none; }
a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: 'MgOpen Modata Regular', Arial, Helvetica, sans-serif; color: #424242; padding-bottom: 10px; text-shadow: 0 1px 0 #fff; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
/*LAYOUT*/
.wrapper { width: 810px; margin: 0 auto; }
.container { float: left; display: inline; width: 810px; }
.container_top { float: left; width: 810px; display: inline; height: 14px; background: url(/images/container_top.png) no-repeat top left; }
.container_heading { color: #858167; padding: 15px 25px 15px 15px; float: left; width: 770px; display: inline; height: 31px; background: url(/images/container_header.png) no-repeat top left; }
.container_bottom { float: left; width: 810px; display: inline; height: 16px; background: url(/images/container_bottom.png) no-repeat top left; }
.container_content { float: left; width: 810px; display: inline; background: url(/images/container_body.png) repeat-y top left; }
.inner { padding: 0 25px 5px 15px; }
.right { float: right; }
.left { float: left; }

/*FRONT PAGE*/
#person img { margin-right: 20px; display: inline; }
.info p { color: #999474; }
.align_right { text-align: right; }
a#fb { padding: 3px 0 3px 22px; background: url(/images/fb.png) no-repeat 0 3px; margin: 0 0 0 15px; }
a#tw { padding: 3px 0 3px 22px; background: url(/images/tw.png) no-repeat 0 3px; }
a#bookmark { padding: 3px 0 3px 22px; background: url(/images/address-book.png) no-repeat 0 6px; }

#app_submit { margin: 15px 0; }
.step { float: left; width: 300px; padding: 15px 40px 15px 45px; position: relative; }
.step h4 { padding: 0; }
.step img { display: inline; position: absolute; top: 12px; left: 0; }
small { text-transform: uppercase; font-size: 9px; color: #aeac9c; }
#date_picker { margin-top: 10px; }
#date_picker ul { list-style: none; margin-bottom: 5px; }
#date_picker ul li { display: block; margin-bottom: 1px; float: left; width: 100%; }
#date_picker ul li a { display: block; float: left; width: 290px; padding: 5px; text-decoration: none; background-color: #f5f5f5; color: #0348d8; font-size: 14px;}
#date_picker ul li a:hover { background-color: #434547; color: #fff; text-shadow: 0 1px 0 #000; }
#date_picker ul li a.selected { background: #434547 url(/images/hand-point-180.png) no-repeat 270px 7px; color: #fff; text-shadow: 0 1px 0 #000; }

.app_form { margin: 10px 0 0; }
.app_form p { float: left; width: 300px; padding: 0 0 15px 0; }
.app_form strong { float: left; width: 60px; }
.app_form span { float: left; width: 240px; }
input, textarea { border: 1px solid #bab699; padding: 4px; font-size: 14px; border-bottom: 3px solid #bab699; width: 230px; }
textarea { height: 130px; overflow: auto; }
.date_confirm {background-color: #9c0; text-align: center; padding: 5px 0; color: #fff; }
.break { background: url(/images/break.png) no-repeat top center; text-align: center; width: 760px; height: 34px; display: block; padding: 40px 0 0 0; }
.break_2 { background: url(/images/break_2.png) no-repeat top center; text-align: center; width: 810px; height: 39px; display: block; padding: 40px 0 0 0; }
#submit { background: url(/images/submit.png) no-repeat bottom left; width: 209px; height: 30px; cursor: pointer; padding: 0; border: 0; }
#submit:hover { background: url(/images/submit.png) no-repeat top left; }

/*confirmation*/
#confirmation .inner { padding-top: 15px; }
#confirmation h4 span { padding: 2px 4px; text-decoration: none; }
#confirmation h4 .unconfirmed { background-color: #ff7; border-bottom: 1px solid #f67; color: #f60; }
#confirmation h4 .confirmed { background-color: #def5b2; border-bottom: 1px solid #71a60b; color: #71a60b; }
#confirmation h4 .rescheduled { background-color: #f187f8; border-bottom: 1px solid #a412ae; color: #a412ae; }
#confirmation h4 .cancelled { background-color: #ff9292; border-bottom: 1px solid #b00d0d; color: #b00d0d; }

#confirmation .app_details { margin-top: 25px; }
#confirmation .app_details h5 { border-bottom: 1px solid #ccc; }
#confirmation .app_details .app_form { margin-top: 15px; }
#confirmation .app_details .app_form p { width: 100%; }
#confirmation .app_details .app_form p span { background-color: #f3f3f3; border: 1px solid #ccc; cursor: default; padding: 4px; }
#confirmation .app_details .app_form p span.date_confirm { color: #434343; text-align: left; }
a.action { padding: 2px 5px; text-decoration: none; color: #900; background-color: #FFA8A8; border-bottom: 1px solid #900; }
a.action:hover { color: #fff; background-color: #900; }

/*REGISTRATION*/
#registration .inner { padding-top: 15px; }
label { font-weight: 900; }
fieldset { border: 0; padding: 0; margin: 0; }
fieldset ol { padding: 0; margin: 0; list-style: none; }
#registration fieldset ol li { padding: 6px 0; border-bottom: 1px solid #f5f5f5; }
#registration fieldset ol li:hover { border-bottom: 1px solid #ccc; }
#registration fieldset ol li label { float: left; width: 220px; }
#registration fieldset ol li input { width: 400px; }
#registration fieldset ol li input.short { width: 200px; }
#registration fieldset ol li input#normal_submit { width: auto; background-color: #cf6; border: 1px solid #99CC00; cursor: pointer; float: right; }

.avail { padding: 3px 0 3px 18px; background: url(/images/tick.png) no-repeat 0 3px; float: right; }
.taken { padding: 3px 0 3px 18px; background: url(/images/cross.png) no-repeat 0 3px; float: right }
.check { padding: 3px 0 3px 18px; background: url(/images/loading.gif) no-repeat 0 3px; float: right }

/*DASHBOARD*/
.app h4 span { float: right; font-size: 14px; margin-top: 6px; }
.app_list { padding: 0; margin: 0; list-style: none; }
.left_col { float: left; width: 500px; display: inline; }
.right_col { float: left; width: 280px; display: inline; padding-top: 15px; }
.app { padding: 15px 10px 0; margin-bottom: 15px; float: left; width: 460px;}
.app h4 { border-bottom: 3px solid #f1f1f1; }
.app h3 { float: left; width: 80px; padding: 0; text-align: right; font-size: 22px; }
.more h3 { text-align: center; padding-top: 10px; }
.app .desc h3 { width: auto; text-align: left; }
.app a { color: #666; }
.app .desc { float: left; width: 360px; line-height: 16px; padding-left: 20px; }
.app a p { padding: 10px; width: 440px; }
.app ul { border-top: 1px solid #ccc; }
.app ul li { float: left; width: 460px; padding: 7px 0; border-bottom: 1px solid #f1f1f1; }
.more ul li { padding-top: 0; }
.app span.confirm { background: url(/images/tick.png) no-repeat 0 3px; padding: 3px 0 3px 18px; color: #999; margin-right: 10px; display: inline; }
.app span.pending { background: url(/images/clipboard-task.png) no-repeat 0 3px; padding: 3px 0 3px 18px; color: #999; margin-right: 10px; display: inline; }
.app ul li.pending_list { background-color: #f7f7f7; padding: 4px 0; }
.app ul li.pending_list h3, .app ul li.pending_list h5{ font-size: 17px; color: #666; }
.app ul li h5 { font-size: 17px; }
.app ul li ul.child { list-style: none; float: left; width: 360px; display: inline; border: 0; border-left: 1px solid #f1f1f1; }
.app ul li ul.child li { width: 350px; padding: 3px 0 3px 10px; border-bottom: 1px solid #f1f1f1;  }
.app ul li ul.child li h5 { padding: 0; }
.app ul li ul.child li h5 strong { float: left; display: inline; width: 70px; text-align: right; margin-right: 10px; }

.pending_box { padding: 1px; border: 1px solid #ccc; }
.pending_box .inner { padding: 10px; background-color: #f5f5f5; }
.pending_box .inner ul { list-style: none; background-color: #fff; }
.pending_box .inner ul li { border-bottom: 1px solid #fff; float: left; width: 246px; font-size: 11px; }
.pending_box .inner ul li a strong { float: left; width: 70px; background-color: #222;padding: 3px 5px; color: #fff;}
.pending_box .inner ul li em { float: left; width: 60px; padding: 3px 5px; font-style: normal; }
.pending_box .inner ul li span { float: left; width: 92px; padding: 3px 0; }

/*MAINPAGE*/
.logo { padding-top: 20px; }
.logo a img { border: 0; margin-left: 40px; display: inline; float: left; }
.logo ul { list-style: none; width: 500px; }
.logo ul li { display: inline; }
.logo ul li a { color: #89887f; font-size: 14px; text-shadow: 0 1px 0 #fff; text-decoration: none; padding: 2px 12px; float: right; display: inline; margin-left: 12px; }
.logo ul li a.login { background: url(/images/login.png) no-repeat top left; width: 35px; height: 21px; padding: 2px 12px; }
.logo ul li a.login:hover { background-position: bottom left;}

#slider { background: url(/images/slider_bg.png) no-repeat top left; width: 810px; height: 272px; overflow: hidden; margin-top: -10px; margin-bottom: 20px; }
.slider_bg .holder div { width: 810px; height: 272px; position: relative; float: left; }
.slider_bg h2 { float: left; width: 240px; display: inline; margin-left: 20px; margin-top: 100px; color: #fff; text-align: center; }
.slider_bg img { float: right; display: inline; margin: 29px 33px 0 0; }
.register h3 { font-size: 24px; padding: 15px 0 0 0; }
 a img { border: 0; float: right; }

/*BOSS*/
.app_boss { display: block; width: 100%; }
.app_list_boss { padding: 15px 30px 15px 15px;; }
.app_list_boss h4 { border-bottom: 3px solid #f1f1f1; }
.app_boss ul { list-style: none; border-top: 1px solid #ccc; background: url(/images/break.png) no-repeat bottom left; padding-bottom: 20px; }
.app_boss ul li { padding: 5px 0; border-top: 1px solid #f5f5f5; float: left; width: 100%; }
.app_boss ul li .app_left { float: left; width: 120px; }
.app_boss ul li h5, .app_boss ul li h3, .app_boss ul li span { padding: 3px 0 3px 22px; color: #666; display: block; line-height: 14px; margin-bottom: 5px; }
.app_boss ul li h3 { font-size: 20px; }
.app_boss ul li .visitor { background: url(/images/user-silhouette.png) no-repeat 0 2px; }
.app_boss ul li .venue {background: url(/images/sofa.png) no-repeat 0 2px; }
.app_boss ul li .time { background: url(/images/clock-frame.png) no-repeat 0 4px; }
.app_boss ul li .app_desc { float: left; width: 645px; }
.app_boss ul li .app_desc p { }

#free-registration { background: url(/images/registration.png); width: 253px; height: 50px; display: block; margin: 0 auto; border: 0; padding: 0;}
